include ../../node_modules/bemto.pug/bemto.pug

doctype html
html
  include ../components/head/head.pug

  head
    +head(head.defaults)

  body
    block body

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')