extends _template.pug

block body
    +b.calculator
        +e.count-wrap
            +e.screen-holder
                +e.SPAN.subscreen
                +e.SPAN.screen
            +e.buttons
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_pink._s_wide(value = 'C') C
                +b.calc-btn-wrap._disabled
                    +b.BUTTON.calc-btn(disabled) ∞
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_yellow(data-oper='+') +
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='7') 7
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='8') 8
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='9') 9
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_yellow(data-oper='-') -
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='4') 4
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='5') 5
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='6') 6
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_yellow(data-oper='*') *
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='1') 1
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='2') 2
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='3') 3
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_yellow(data-oper='/') /
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='0') 0
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn(value='.' data-oper='.') .
                +b.calc-btn-wrap
                    +b.BUTTON.calc-btn._c_pink._s_wide(data-oper='=') =
        +e.history




